<!-- Messages partial used to display messages in chatroom index -->
<!-- The Message resource looks at this file if given code block -->
<div class="event">
  <div class="content">
    <div class="summary">
        <em><%= message.user.username %></em>: <%= message.body %>
      </div>
  </div>
</div>
