@import 'semantic-ui';

// Adds scrollbar to message container and raises messagebar a bit
#messages {
  height: 15em;
  overflow: auto;
}

.chatbox {
  height: 450px;
}

// hides button from input bar
.input {
  button {
    display: none;
  }
}

h1.ui.header {
  padding-top: 15px;
}

h2.ui.header {
  padding-top: 15px;
}

body {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left bottom, #ffffff, #B413EC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left bottom, #ffffff, #B413EC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
