@import 'semantic-ui';

.chatbox {
  height: 450px;
}

h1.ui.header {
  padding-top: 15px;
}

h2.ui.header {
  padding-top: 15px;
}

body {
  background: #f4c4f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #ffffff, #B413EC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #ffffff, #B413EC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
