<div class="ui inverted small menu attached">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <%# Can also use the code below for the same result %>
    <!-- <a href="<%= root_path %>" class="item">
      Chatroom
    </a> -->
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "Login", login_path, class: "item" %>
          <a class="item">Logout</a>
          <a class="item">Signup</a>
        </div>
      </div>
      <div class="item">
          <div class="ui teal button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
